<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="game.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="image">
                <img src="otter.jpeg" alt="nutria">
                <h5 class="contador">00:00</h5>
            </div>
            
            <nav class="buttons">
                <button class="button">ADMIN</button>
                <button class="button">SCORE</button>
                <button class="button" onclick="window.location.href = '/'">MENU</button>
                <button class="button" onclick="window.location.reload()">RESET</button>
            </nav>
        </header>
        <main class="page">
            <aside class="left-block" onClick="is_false();"></aside>
            <section class="middle-block">
                <h1 class="question"><%= preguntas[0].preg%></h1>
            </section>
            <aside class="right-block" onClick="is_true();">
                <small class="credits">
                    By paris and michel
                </small>
            </aside>
        </main>
    </div>
    <script>
        let preguntas = <%- JSON.stringify(preguntas)%>
    </script>
    <script src="/logic.js"></script>
</body>
</html>