<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/game.css">
    <title>CardsGame</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="image">
                <img src="/assets/otter.jpeg" alt="nutria">
                <h5 class="contador">00:0</h5>
            </div>
            
            <nav class="buttons">
                <button class="button" onclick="window.location.href = '/admin'">ADMIN</button>
                <button class="button" onclick="leaderboard();">SCORE</button>
                <button class="button" onclick="window.location.href = '/'">MENU</button>
                <button class="button" onclick="window.location.reload()">RESET</button>
            </nav>
        </header>
        <main class="page">

            <aside class="left-block" onClick="verificar(false)"></aside>
            <section class="middle-block card draggable animate__animated animate__bounceIn">
                <h1 class="question"></h1>
                <img class="preg_img" src="" alt="" width="300" height="150">
            </section>
            <aside class="right-block" onClick="verificar(true)"></aside>
        </main>
        <small class="credits">
                    By paris and michel
        </small>
    </div>
    
    
    <%- include('fragments/leaderboardAlert')%>
    <script>
        let preguntas = <%- JSON.stringify(preguntas)%>;
        let ranking = <%- JSON.stringify(ranking)%>;
    </script>
    <script src="javascript/logic.js"></script>
</body>
</html>