<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="game.css">
    <title>Macaco player</title>
</head>
<body>
    <div class="container">
        <div class="top-bar">a</div>
        <div class="card">
            <div class="level"></div>
            <div class="question">
                <h4>¿los pescados vuelan?</h4>
            </div>
            <div class="choices"></div>
        </div>
        <div class="timer"></div>
        <small class="authors">By Paris and Michel</small>
    </div>
</body>
</html>