<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
       <h1 class="title">Binevenidos a Swipe</h1>
        <button class="button_start" onclick="window.location.href = '/MacacoPlaying';">
            Start
        </button>
        <img src="/assets/swipe.png" width="650" height="300">
    </div>
</body>
</html>