<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <form id="myForm">
        <label for="texto">Texto:</label>
        <input type="text" class="pregunta" name="texto" required><br><br>
    
        <label for="verdadero">Verdadero:</label>
        <input type="radio" class="res_verdadero" name="opcion" value="true">
    
        <label for="falso">Falso:</label>
        <input type="radio" class="res_falso" name="opcion" value="false"><br><br>
    
        <button type="submit">Enviar</button>
      </form>
    
      <script src="/assets/javascript/newQuestion.js"></script>
</body>
</html>