body{
  background-color: #eeeef5;
}

.container{
    display: flex;
    flex-direction: column;
}



.header{
    background-color: #282A3A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

.image{
    margin: 5px;
    display:flex;
}

.image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.contador{
    text-align: center;
    margin-left: 20px;
    margin-top: 6px;
    color: azure;
}


.buttons{
    margin-right: 1em;
    align-self: center;
}

@media screen and (min-width: 35rem) {
  .button{
    /*top, right, botton*/
    /*margin: 15px 10px 12px;*/
    margin-right: 1em;
    padding: 3px 12px 3px 12px;
  }
}




.page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.middle-block{
    background-color: burlywood;
    height: 500px;
    width: 500px;
    margin-top: 20px;
    border: 4px solid lightsalmon;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
    /*transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;*/
}

.question{
    margin-top: 1em;
    font-size: 300%;
}

.left-block{
    flex-grow: 1;
    background-color: rgba(199, 12, 49, 0.24);
}

.right-block{
    flex-grow: 1;
    background-color: rgba(34, 139, 34, 0.288);
    position: relative;
}

.credits{
    position: absolute;
    bottom: 0;
    right:0;
    margin:10px;
    font-style: italic;
}

/*TOAST DE BIEN O MAL HECHO*/
.toast {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    padding-right: 20px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    max-width: 60px;
    text-align: center;
  }
  
  .toast.show {
    animation: fadeIn 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
  
  .toast.hide {
    animation: fadeOut 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-50%) scale(0.8);
    }
    to {
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateX(-50%) scale(1);
    }
    to {
      opacity: 0;
      transform: translateX(-50%) scale(0.8);
    }
  }

  .toast.success {
    background-color: #5cb85c;
  }
  
  .toast.error {
    background-color: #d9534f;
  }