<!--Nueva pregunta-->
<form id="createForm" enctype="multipart/form-data" class="row bg-dark-subtle rounded shadow p-2 d-none" data-bs-theme="light">
          
    <div class="d-flex align-items-center mb-1 mb-md-0 col-md-6">
        <input id="pregForm" name="preg" class="form-control me-4" type="text" placeholder="Ingresa tu pregunta">
        <label for="formValueInput" id="formValue" class="btn badge bg-success" onclick="changeValueForm()">
          True
        </label>
        <input id="formValueInput" name="value" type="checkbox" value="true" class="d-none">
    </div>

    <div class="d-flex align-items-center justify-content-between col-md-6">
      <div class="me-2">
        <input id="imgForm" name="image" type="file" class="form-control form-control-sm" >
      </div>
        
      <div class="hstack gap-1">
        <a class="btn btn-success btn-sm" onclick="createQuest()">
          Acept
        </a>
        <a class="btn btn-danger btn-sm" onclick="cleanCreateForm()">
          Cancel
        </a>
      </div>
    </div>
  </form>

  <!--Modificar pregunta-->
<form id="modifyForm" enctype="multipart/form-data" class="row bg-dark-subtle rounded shadow p-2 d-none" data-bs-theme="light">
          
    <div class="d-flex align-items-center mb-1 mb-md-0 col-md-6">
        <input id="pregForm2" name="preg" class="form-control me-4" type="text" placeholder="Ingresa tu pregunta">
        <label for="formValueInput" id="formValue2" class="btn badge bg-success" onclick="changeValueForm()">
          True
        </label>
        <input id="formValueInput" name="value" type="checkbox" value="true" class="d-none">
    </div>

    <div class="d-flex align-items-center justify-content-between col-md-6">
      <div class="me-2">
        <input id="imgForm" name="image" type="file" class="form-control form-control-sm" >
      </div>
        
      <div class="hstack gap-1">
        <a class="btn btn-success btn-sm" onclick="createQuest()">
          Acept
        </a>
        <a class="btn btn-danger btn-sm" onclick="cleanCreateForm()">
          Cancel
        </a>
      </div>
    </div>
  </form>